*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif, 'Arial', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 30px;
  padding: 133px 30px; 
  }

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  inset: 0;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 5px;
  appearance: none;
  width: fit-content;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__label-text {
  font-family: Fira Sans Condensed, 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.search-form__submit-button {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  gap: 10px;
  background-color: transparent;
  font-family: Fira Sans Condensed, 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: none;
  border-left: none;
  cursor: text;
  appearance: none;
  caret-color: transparent;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
  border: none;
  border-radius: 0;
  cursor: none;
  caret-color: transparent;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:not(:first-child) {
  text-decoration: none;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
  border-radius: 0;
  align-items: center;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  outline: 1px solid #fff;
  background-color: transparent;
}

.search-form__pseudo-checkbox:active {
  width: 19px;
  height: 19px;
  top: 3.5px;
  left: 2px;
  background-color: #fff;
  border: 1px solid black;
}

.search-form__pseudo-checkbox:focus-visible {
  width: 19px;
  height: 19px;
  top: 3.5px;
  left: 2px;
  background-color: #fff;
}

input[type='checkbox']:checked + span {
  width: 19px;
  height: 19px;
  top: 3.5px;
  left: 2px;
  background-color: #fff;
  border: 1px solid black;
}

.button {
  width: 100%;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: Fira Sans Condensed, 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  top: 20px;
  left: 517px;
  gap: 10px;
}

.button:hover {
  text-decoration: underline;
  background-color: transparent;
}

.button:active {
  text-decoration: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  border-radius: 0;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  height: 34px;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.title {
  font-family: Oswald, 'Arial', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: max-content;
  height: max-content;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  inset: 0;
  height: 298px;
  overflow: auto;
}

.content__list-item {
  padding-bottom: 30px;
}

.content__list-item:last-child {
  padding-bottom: 0px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
}

.content__video-card:hover{
  text-decoration-line: underline;
  color: #fff;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:hover {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
  margin: 2px;
  border-radius: 0;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.content__video-card-title {
  color: #fff;
  text-transform: uppercase;
  font-family: Oswald, 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

.content__video-card-description {
  width: 200px;
  color: #fff;
  font-family: Fira Sans Condensed, 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  object-fit: contain;
  object-position: center;
}

.more-button {
  height: 34px;
}